body {
  background-color: aquamarine;
}

.title,
.text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.text.pizza,
.text.rice,
.text.description,
.text.ingredients,
.text.steps {
  color: #ff2e2e;
}

.text.pizza {
  font-size: 35px;
}

.text.ingredients,
.text.steps {
  font-size: 24px;
}

.pizza-picture {
  width: 600px;
  height: auto;
}

.rice-picture {
  width: 500px;
  height: auto;
}
